<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>iVoteBallot | Error 404</title>

	<link rel="stylesheet" type="text/css" href="../styles/404.css" />

</head>

<!--
	Sarai Hannah Ajai have written her 404.ejs file for the sole purpose to display an error message
	when an user requests a page that does not exist. The HTML code in the file is styled using CSS to ensure
	that the error message is presented in a clear and visually appealing manner. The CSS styling is applied
	to various elements in the file, including the title, headings, paragraphs, and links. And, Ms. Ajai
	overall aim is to provide users with a helpful message that explains why they are seeing the error and
	what they can do to resolve the issue.
-->

	<body>

		<header>
			<%- include('../common/header') %>
		</header>	
		
		<p id="error404_Title_01">
			Oops, Something Went Wrong!
		</p>
			
		<p id="error404_Title_02">
			Error 404: Page Not Found
		</p>
	
		<hr id="hr_Blue_line_02">
		<br>
		
		<div id="flex_Container">
			<div id="flex_Container_Row">
				<div id="flex_Container_Column">
					<div id="first_Column">
					   
						<p id="error404_Title_03">   
							We're sorry, but something seems to have gone wrong. You may be seeing this error for one of several reasons:
						</p> 
						  
						<ul id="align_Section_01">
							<li>There could be a syntax error in the programming language used to create iVoteBallot.</li>
							<li>There might be a logic error in the programming language.</li>
							<li>A runtime error, also known as an exception, may have occurred while the program was running.</li>
							<li>The iVoteBallot webpage may be temporarily disconnected or no longer exist.</li>
							<li>It's possible that you typed an incorrect URL characters.</li>
						</ul>	
						<p id="paragraph_Section_01">
							To continue, please return to the iVoteBallot homepage by clicking on this link: <a id="error404_Link_01"
							href="http://localhost:8080/iVoteBallot">iVoteBallot</a>.
						</p>
						<p id="paragraph_Section_01">
							To continue, please return to the iVoteBallot homepage by clicking on this link: <a id="error404_Link_01"
							href="http://localhost:8080/iVoteBallot">iVoteBallot</a>. 

							If you continue to experience this error, please send us an email at <a id="error404_Link_02" 
							href="http://localhost:8080/contactUs">Contact Us</a> and we'll do our best to get back to you as soon as 
							possible. You could also try again later.

							We apologize for any inconvenience and appreciate your patience while we work to resolve this issue.
						</p>
						
					</div>
				</div>   				

				<div id="flex_Container_Column">
					<div id="second_Column">
						<a href="http://localhost:8080/iVoteBallot">iVoteBallot</a>
					</div>
				</div>
	
			</div>
		</div>
		<br>
	
		<footer>
			<%- include('../common/footer') %>
		</footer>

	</body>
</html>