<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>iVoteBallot | Verify Temporary Password Alabama</title>

	<link rel="stylesheet" type="text/css" href="../styles/alabamaVoters_SignUp_01.css" />

	<script defer src="../scripts_Files/alabamaVoters_SignUp_01_Script.js"></script>	

</head>

	<body>

		<h1>Test</h1>


		
	</body>

</html>