<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>iVoteBallot | Forgot Password</title>

	<link rel="stylesheet" type="text/css" href="../styles/alabama_ForgotPassword_01.css" />

</head>

<!--
	The Developer, Sarai Hannah Ajai have written her HTML and JavaScript codes languages for the
    "alabama_ForgotPassword_01.ejs" file web page that serves, as a front-end interface for users
    who have forgotten their password onto the iVoteBallot's website or web application accounts. 
    The alabama_ForgotPassword_01.ejs web page consists of various elements and functionalities to
    facilitate the password recovery process.

    At the top of the alabama_ForgotPassword_01.ejs web page, there is a common header section 
    included using the ('../common/header') code, which provides consistent 
    branding and navigation options for the iVoteballot's website or web application.

	The main content of the ForgotPassword_Alabama_01.ejs web page is contained within a <div>
    element with the ID "flex_Container." Inside this container, there are multiple nested 
    <div> elements that structure the layout of the alabama_ForgotPassword_01.ejs web page. 
    The "first_Column" <div> contains the form for the password recovery process.

    Within the form, there is a pop-up menu element with the ID "popUpForgotPasswordMenu" that 
    is used to display additional options for the password recovery process.

    The form itself has the class "form_ForgotPassword_01" and is set to submit data to the
    "/verifyTempPwdLogIn_Alabama_01" URL using the POST method. It includes input fields for the
    user's email address and a submit button labeled "Continue."

    Below the email input field, there are two sections with hyperlinks. The first section asks,
    if the user is already a member of iVoteBallot website or web application and provides a
    link to access their account. The second section is for new users and offers a link to 
    sign up for an iVoteBallot account.

    At the bottom of the page, a common footer section is included using the 
    include('../common/footer') code, providing additional information and links.

    Lastly, there is a script section at the end of the page that contains JavaScript coded 
    language. It defines a function named "validateForgotPasswordForm" that is responsible for
    validating the email input field before submitting the form. The function checks, if the 
    email field is not empty, has a minimum length of 6 characters, and matches a regular 
    expression pattern for a valid email address format. If any validation errors occur, 
    an error message is displayed. The script also registers an event listener to handle form
    submission and calls the "validateForgotPasswordForm" function.    
-->
	<body>

		<header>
			<%- include('../common/header') %>
		</header>

		<div id="flex_Container">
			<div id="flex_Container_Row">
				<div id="flex_Container_Column">
					<div id="first_Column">

						<div id="popUpForgotPasswordMenu" class="forgotPassword_Form_01"></div>

							<form class="form_ForgotPassword_01 animate" name="forgotPasswordForm" onsubmit="return validateForgotPasswordForm()" action="/verifyTempPwdLogIn_Alabama_01" method="POST">							

								<div class="logIn_Container_01">

									<br>

									<p id="titleForgotPassword_01"> Forgot Password | Alabama</p>

									<label for="email">Email Address |</label>
									<input id="emailForgotPassword_01" type="text" name="userEmail" maxlength="250">					
									<span id="userEmailForgotPassword_01ErrorMessage"></span>
									
									<br>
									<hr class="hr_Red_line_01">
								
									<p id="memberQuestion_01">
										Are you already an iVoteBallot's member?
										<a class="forgotPassword_01" href="http://localhost:8080/signUporLogIn_01">Access your account.</a>
									</p>

									<hr id="hr_Blue_line_02">

									<p id="memberQuestion_01">
										New to iVoteBallot platform? 
										<a class="forgotPassword_01" href="http://localhost:8080/signUporLogIn_01">Sign Up for an Account.</a>
									</p>								
									
									<br>
								
									<button id="forgotPasswordSubmitButton" type="submit">Continue</button>
									
								</div>
								<br>

								<div class="forgotPassword_Container_01" style="background-color:#f1f1f1">
									<a id="cancelButton_01" href="http://localhost:8080/signUporLogIn_01">
										<button class="cancelButtonForgotPassword_01" type="button">Cancel</button>
									</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

		<footer>
			<%- include('../common/footer') %>
		</footer>

		<script>

			const validateForgotPasswordForm = (e) => { 

				const userEmail = document.getElementById('emailForgotPassword_01').value.trim();				

				const regExEmail = /(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])/;	
				
				if (userEmail === '' || userEmail == null || userEmail.length <= 6 || !userEmail.match(regExEmail)) {
					document.getElementById('userEmailForgotPassword_01ErrorMessage').textContent = 'Your email address is a required input field and you must enter the correct email address format into the require input field.';

					setTimeout(function() {
						document.getElementById('userEmailForgotPassword_01ErrorMessage').textContent = '';
					},
					9000)

					return false;

				}

				e.preventDefault();  
							
                form.addEventListener('submit', validateForgotPasswordForm);

                return true;   
				
			}


		</script>
		
	</body>
</html>