<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>iVoteBallot | Create Passwords</title>

	<link rel="stylesheet" type="text/css" href="../styles/alabamaVoters_CreatePasswords_01.css" />

	<script defer src="../scripts_Files/alabamaVoters_CreatePasswords_01_Script.js"></script>	

</head>
	<body>

		<div id="flex_Container">
			<div id="flex_Container_Row">
				<div id="flex_Container_Column">
					<div id="first_Column">
	
						<form 
							class="form_CreatePasswords animate" 
							name="createPasswordsForm" onsubmit="return validateCreatePasswordsForm()" 
							action="/alabamaVoters_CreatePasswords_01" 
							method="POST"
						>
	
							<div class="imageContainer">
								<a href="http://localhost:8080/iVoteBallot"><img class="header_Image_01" src="../images/free_Canva_Created_Images/iVoteBallot Canva - Logo Dated 05-05-23 copy.png" /></a>
								<p id="titleSignUp_01"> Create Passwords | Alabama</p>
								<!--<span class="close" onclick="document.getElementById('popUpSignUpMenu').style.display='none'" title="Close Sign Up Form">&times;</span>-->
							
							</div>

							<h5 style="color: white; background-color: red; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 12px; ">
								Hi, <%- userDMVFirstName %> <%- userDMVLastName %>, Please create your new password and confirm password.
							</h5>
							
	
							<div class="createPassword_Container_01">  	
								
								<div class="password_Container">
									<label>New Password | </label> 									
									<input id="password" type="password" name="userPassword" maxlength="75">
									<a href="#" id="showHide_01" onclick="toggle_InputPasswordCheckBox()">Show</a>		
								</div>												
								<span id="userPasswordErrorMessage"></span>																
								<br>

								<div class="confirmPassword_Container">						
									<label>Confirm New Password |</label>									
									<input id="confirmPassword" type="password"  name="userConfirmPassword" maxlength="75" >
									<a href="#" id="showHide_02" onclick="toggle_InputConfirmPasswordCheckBox()">Show</a>
								</div>	
								<span id="userConfirmPasswordErrorMessage"></span>
								<br>	
																
								<p id="passwordRequiredNote">
									To ensure your iVoteBallot's passwords security, please create your passwords with
									a minimum of eight characters long or up to a maximum of thirty-two characters
									long, including at least one uppercase letter, one lowercase letter, one number, 
									and one special character.	
									
								</p>
							
								<hr class="hr_Red_line_01">
								<hr class="hr_Grey_line_01">									
								<hr class="hr_Blue_line_01">
								
								<br>									
							
								<button id="signUpSubmitButton" type="submit">CONTINUE</button>
								
							</div>						
	
						</form>
	
					</div>			
				</div>
			</div>
		</div>
	
	</body>
</html>