<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>iVoteBallot | Sign Up Alabama</title>

	<link rel="stylesheet" type="text/css" href="../styles/alabama_SignUp_01.css" />

</head>

<!--
	The Developer, Sarai Hannah Ajai have written her HTML and JavaScript codes languages for
	the purpose of the alabama_SignUp_01.ejs file to which provide an interface for front-end
	users to sign up for an account onto the iVoteBallot's website or web application specifically
    for the state of Alabama. The alabama_SignUp_01 web page includes a sign-up form with various
	input fields and options for users to provide their information.

	The The alabama_SignUp_01 web page starts with a header section that includes common header
	elements shared across multiple pages. The main content of the page is contained within a 
	flex container, which is divided into two columns. The first column contains the sign-up 
	functionality, while the second column contains the login functionality.

	In the first column, there is a "Sign Up | Alabama" button that triggers a pop-up sign-up
	menu when clicked. The sign-up menu includes a form where users can enter their Alabama 
	AlphaNumeric card codes, Alabama identification card information, email address, confirm 
	email address, and phone number. The sign up form also includes validation checks for the
	users entered data information.

	The second column contains a "Log In | Alabama" button that triggers a pop-up login menu
	when clicked. The login menu includes a form where users can enter their email address and
	password in order to log in to their account. And, both forms also includes a "Forgot Password?" 
	link for password recovery and a link to the sign-up page for new users.

	Overall, the Alabama_SignUp_01 web page serves, as an entry point for the users in the state of
	Alabama to sign up for an account on the iVoteBallot website or web application, providing a
	user-friendly interface and ensuring data validations for the user entered data information.
-->

	<body>
		<header>
			<%- include('../common/header') %>
		</header>
		
		
		  

		<div id="flex_Container">
			<div id="flex_Container_Row">
				<div id="flex_Container_Column">
					<div id="first_Column">

						<button class="signUpButton_01" onclick="document.getElementById('popUpSignUpMenu').style.display='block'" style="width:auto;">Sign Up | Alabama</button>
						
						<div id="popUpSignUpMenu" class="signUp_Form_01">
						
							<form class="form_SignUp_01 animate" name="signUpForm" onsubmit="return validateAlabamaSignUpForm()" action="/dashboard_01" method="POST">

								<div class="imageContainer">
									<a href="http://localhost:8080/iVoteBallot"><img class="header_Image_01" src="../images/free_Canva_Created_Images/iVoteBallot Canva - Logo Dated 05-05-23 copy.png" /></a> 
									<p id="titleSignUp_01"> Sign Up | Alabama</p>
									<span class="close" onclick="document.getElementById('popUpSignUpMenu').style.display='none'" title="Close Sign Up Form">&times;</span>
								
								</div>

								<div class="signUp_Container_01">  
									
									<p id="descriptive_Paragraph_01">What is your Alabama AlphaNumeric card codes including dashes, sent to you by way of the USPS from the Department of Motor Vehicles in collaboration with your State Voting Commission?</label>
									<p id="voter_Card_01">
										<img id="voter_Card_Image" src="../images/states_Icon_Photographs/iVoteBallot - Example Card.png" />					
									</p> 								
									<label>What is your iVoteBallot ID Identifier Code? |</label>									
									<input id="registrationCodeSignUp_01" type="text" name="userRegistrationCode" maxlength="75">									
									<span id="userRegistrationCodeSignUp_01ErrorMessage"></span>	
									<br>
									
                                    <label>What type of Alabama identification Card do you have? |</label>                                    
                                    <input id="idTypesSignUp_01" type="text" multiple name="userIdType" list="voterIdList" size="64" />

                                    <datalist id="voterIdList">
                                        <option value="" disable selected hidden></option>
                                            <option value="Alabama Driver License"></option>
                                            <option value="Alabama Real ID Driver License"></option>
                                            <option value="Alabama State ID Card"></option> 
                                            <option value="Military ID"></option> 
                                            <option value="Tribal ID"></option>              
                                    </datalist>                                  
                                    <span id="userIdTypesSignUp_01ErrorMessage"></span>
                                    <br>

                                    <label>What is your Alabama Identification Card Number? |</label>                                   
                                    <input id="idTypeNumberSignUp_01" type="text" name="userIdTypeNumber" maxlength="40" />                                   
                                    <span id="userIdTypeNumberSignUp_01ErrorMessage"></span>                             
                                    <br>

									<label>Confirm Your Alabama Identification Card Number |</label>                                   
                                    <input id="confirmIdTypeNumberSignUp_01" type="text" name="userConfirmIdTypeNumber" maxlength="40" />                                   
                                    <span id="userConfirmIdTypeNumberSignUp_01ErrorMessage"></span>                             
                                    <br>

									<label>Email Your Address |</label>
									<input id="emailSignUp_01" type="text" name="userEmail" maxlength="250">					
									<span id="userEmailSignUp_01ErrorMessage"></span>
									<br>
									
									<label>Confirm Your Email Address |</label>									
									<input id="confirmEmailSignUp_01" type="text" name="userConfirmEmail" maxlength="250">									
									<span id="userConfirmEmailSignUp_01ErrorMessage"></span>
									<br>

									<label>Create Your Password |</label>
										<div class="password_Container">										
											<input id="passwordSignUp_01" type="password" name="userPassword" maxlength="250">	
											<a href="#" id="showHide_01" onclick="toggle_InputPasswordCheckBox()">Show</a>
										</div>				
									<span id="userPasswordSignUp_01ErrorMessage"></span>
									<br>
									
									<label>Confirm Your Password |</label>
										<div class="confirmPassword_Container">									
											<input id="confirmPasswordSignUp_01" type="password" name="userConfirmPassword" maxlength="250">
											<a href="#" id="showHide_02" onclick="toggle_InputConfirmPasswordCheckBox()">Show</a>	
										</div>						
									<span id="userConfirmPasswordSignUp_01ErrorMessage"></span>
									<br>

                                    <label>Phone Number |</label>
                                    <p id="phoneNumber_Style_01">(Enter your phone number in the format of xxx-xxx-xxxx.)</p>								
									<input id="phoneNumberSignUp_01" type="text" name="userPhoneNumber" maxlength="15">									
									<span id="userPhoneNumberSignUp_01ErrorMessage"></span>										
									<br>		
									
									<input type="text" id="temporaryPassword" size="75" name="userTemporaryPassword" value="userTemporaryPassword">
									<br>
									<span id="userTemporaryPasswordErrorMessage"></span>
									<br>	

									<hr class="hr_Red_line_01">

									<a class="forgotPassword_SignUp_01" href="http://localhost:8080/alabama_ForgotPassword_01">Forgot Password?</a>

									<hr id="hr_Blue_line_02">
									<p id="memberQuestion_01">
										Are you already an iVoteBallot's member?
										<a class="signUp_LogIn_01" href="http://localhost:8080/alabama_SignUporLogIn_01">Access your account.</a>
									</p>									

									<span id = "userPasswordSignUp_01ErrorMessage"></span>	
									
									<br>									
								
									<button id="signUpSubmitButton" type="submit">Sign Up</button>
									
								</div>

								<div class="signUp_Container_01" style="background-color:#f1f1f1">
									<button class="cancelButtonSignUp_01" type="button" onclick="document.getElementById('popUpSignUpMenu').style.display='none'" >Cancel</button>
								</div>

							</form>

						</div>
					</div>
				</div>

				<div id="flex_Container_Column">
					<div id="second_Column">

						<button class="logInButton_01" onclick="document.getElementById('popUpLogInMenu').style.display='block'" style="width:auto;">Log In | Alabama</button>
						
						<div id="popUpLogInMenu" class="logIn_Form_01">
						
							<form class="form_LogIn_01 animate" name="logInForm" onsubmit="return validateLogInForm()" action="/dashboard_01" method="POST">

								<div class="imageContainer">
									<a href="http://localhost:8080/iVoteBallot"><img class="header_Image_01" src="../images/free_Canva_Created_Images/iVoteBallot Canva - Logo Dated 05-05-23 copy.png" /></a> 
									<p id="titleLogIn_01"> Log In | Alabama</p>
									<span class="close" onclick="document.getElementById('popUpLogInMenu').style.display='none'" title="Close Log In Form">&times;</span>
								
								</div>

								<div class="logIn_Container_01">  

									<label for="email">Email Address |</label>
									<input id="emailLogIn_01" type="text" name="userEmail" maxlength="250">					
									<span id="userEmailLogIn_01ErrorMessage"></span>
									<br>	
													
									<label for="password">Password | </label>
									<input id="passwordLogIn_01" type="password" name="userPassword" value="" maxlength="250" >
									<a id="showHideLogIn_01" href="#" onclick="toggle_InputPasswordCheckBox_LogIn_01()">Show Password </a> 										
									<span id = "userPasswordLogIn_01ErrorMessage"></span>	
									
									<br>
									<hr class="hr_Red_line_01">
								
									<a class="forgotPassword_LogIn_01" href="http://localhost:8080/alabama_ForgotPassword_01">Forgot Password?</a>

									<hr id="hr_Blue_line_02">

									<p id="memberQuestion_01">
										New to iVoteBallot platform? 
										<a class="signUp_LogIn_01" href="http://localhost:8080/alabama_SignUporLogIn_01">Sign Up for an Account.</a>
									</p>								
									
									<br>
								
									<button id="logInSubmitButton" type="submit">Log In</button>
									
								</div>

								<div class="logIn_Container_01" style="background-color:#f1f1f1">
									<button class="cancelButtonLogIn_01" type="button" onclick="document.getElementById('popUpLogInMenu').style.display='none'" >Cancel</button>
								</div>

							</form>

						</div>

					</div>

				</div>
								
			</div>
		</div>

		<script defer src="../scripts_Files/alabama_SignUp_01_Script.js"></script>	

		<footer>
			<%- include('../common/footer') %>
		</footer>		
		
	</body>
</html>