<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>iVoteBallot | Sign Up</title>

	<link rel="stylesheet" type="text/css" href="../styles/alabamaVoters_SignUp_01.css" />

	<script defer src="../scripts_Files/alabamaVoters_SignUp_01_Script.js"></script>	
</head>
<body>

	<header>
		<%- include('../common/header') %>
	</header>
	<br>

	<div id="flex_Container">
		<div id="flex_Container_Row">
			<div id="flex_Container_Column">
				<div id="first_Column">

					<form 
						class="form_SignUp_01 animate" 
						name="signUpForm" 
						onsubmit="return validateAlabamaVotersSignUpForm()" 
						action="/alabamaVoters_SignUp_01" 
						method="POST"
					>

						<div class="imageContainer">
							<!--<a href="http://localhost:8080/iVoteBallot"><img class="header_Image_01" src="../images/free_Canva_Created_Images/iVoteBallot Canva - Logo Dated 05-05-23 copy.png" /></a> -->
							<p id="titleSignUp_01"> Sign Up | Alabama</p>
							<!--<span class="close" onclick="document.getElementById('popUpSignUpMenu').style.display='none'" title="Close Sign Up Form">&times;</span>-->
						
						</div>

						<div class="signUp_Container_01">  									   
							<label>Email Address | What is Your Email Address, You have used with your Alabama's DMV Identification Card?</label> 									
							<input id="email" type="text" name="userDMVEmail" maxlength="75">									
							<span id="userDMVEmailErrorMessage"></span>
							<br>	

							<p id="descriptive_Paragraph_01">What is your Alabama AlphaNumeric card codes including dashes, sent to you by way of the USPS from the Department of Motor Vehicles in collaboration with your State Voting Commission?</label>
							<p id="voter_Card_01">
								<img id="voter_Card_Image" src="../images/states_Icon_Photographs/iVoteBallot - Example Card.png" />					
							</p> 								
							<label>What is your iVoteBallot ID Identifier Code? |</label>									
							<input id="iVoteBallotIdCodeHidden_Bcryptic" type="text"  name="userCommissionIvoteBallotIdCodeBcryptic" maxlength="75" >									
							<span id="userCommissionIvoteBallotIdCodeBcrypticErrorMessage"></span>											
							<br>									
						
							<hr class="hr_Red_line_01">

							<a class="forgotPassword_SignUp_01" href="http://localhost:8080/alabama_ForgotPassword_01">Forgot Password?</a>

							<hr id="hr_Blue_line_02">
							<p id="memberQuestion_01">
								Are you already an iVoteBallot's member?
								<a class="signUp_LogIn_01" href="http://localhost:8080/alabama_SignUporLogIn_01">Access your account.</a>
							</p>		
							
							<br>									
						
							<button id="signUpSubmitButton" type="submit">CONTINUE</button>
							
						</div>						

					</form>

				</div>			
			</div>
		</div>
	</div>

	<footer>
		<%- include('../common/footer') %>
	</footer>		
	
</body>
</html>