<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>iVoteBallot | Verify Temporary Password Alabama</title>

	<link rel="stylesheet" type="text/css" href="../styles/alabamaVoters_VerifyEmailPassword_01.css" />

	<script defer src="../scripts_Files/alabamaVoters_SignUp_01_Script.js"></script>	

</head>

	<body>
		
		<div id="flex_Container">
			<div id="flex_Container_Row">
				<div id="flex_Container_Column">
					<div id="first_Column">
						<br>
	
						<form 
							class="form_VerifyTempPassword_01 animate" 
							name="verifyTempPasswordForm" 
							onsubmit="return validateAlabamaVotersVerifyTempPasswordForm()" 
							action="/alabamaVoters_VerifyEmailPassword_01" 
							method="POST"
						>
							<div class="imageContainer">
								<a href="http://localhost:8080/iVoteBallot"><img class="header_Image_01" src="../images/free_Canva_Created_Images/iVoteBallot Canva - Logo Dated 05-05-23 copy.png" /></a>
								<p id="titleVerifyTempPassword_01"> Verify Email and Password | Alabama</p>
								<!--<span class="close" onclick="document.getElementById('popUpSignUpMenu').style.display='none'" title="Close Sign Up Form">&times;</span>-->
							
							</div>

							<div class="flash_Message_01">	
										
								<% if (messages.error) { %>
									<%= messages.error %>
	
								<% } %>
	
							</div>
	
							<div class="verifyTempPassword_Container_01">  									   
								<label>Email Address | </label> 									
								<input id="email" type="text" name="DMVEmail" maxlength="75">									
								<span id="userDMVEmailErrorMessage"></span>
								<br>

								<div class="password_Container">								
									<label>Temporary Password |</label>									
									<input id="temporary_Password" type="password" name="Temporary_Password" maxlength="75" />									
								</div>
								<span id="userTemporary_PasswordErrorMessage"></span>                         
							
								<br>
								<hr class="hr_Red_line_01">
							
								<button id="verifyTempPasswordSubmitButton" type="submit">CONTINUE</button>
								
							</div>						
	
						</form>
	
					</div>			
				</div>
			</div>
		</div>	
		
	</body>

</html>