<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">	

	<title>iVoteBallot | Human Resources Management</title>

	<link rel="stylesheet" type="text/css" href="../styles/alabama_HRM_01.css" />	

</head>
	<body>		

		<div id="flex_Container">
			<div id="flex_Container_Row">
				<div id="flex_Container_Column">
					<div id="first_Column">
						
						<a href="http://localhost:8080/iVoteBallot"><img class="header_Image_01" src="../images/free_Canva_Created_Images/iVoteBallot Canva - Logo Dated 05-05-23 copy.png" /></a> 

						<div id="hr_Grey_line_02" class="horizontal-line"></div>
						
						<button class="hrmButton_01" onclick="document.getElementById('popUpHRMMenu').style.display='block'" style="width:auto;">Human Resources Management</button>	
						
						<div id="hr_Grey_line_02" class="horizontal-line"></div>	
												
						<div id="popUpHRMMenu" class="hrm_Form_01">							
						
							<form class="form_HRM_01 animate" name="hrmForm" onsubmit="return validateHRMForm()" >								

								<div class="imageContainer">
									<a href="http://localhost:8080/iVoteBallot"><img class="header_Image_01" src="../images/free_Canva_Created_Images/iVoteBallot Canva - Logo Dated 05-05-23 copy.png" /></a> 
									<p class="titleHRM_01">Human Resources Management</p>
									<span class="close" onclick="document.getElementById('popUpHRMMenu').style.display='none'" title="Close HRM Popup">&times;</span>
								
								</div>

								<div id="hrm_Container">  
									
									<div id="hrmDropDown">

										<button id="hrmDropDownButton" type="submit">Departments</button>

										<div id="hrmDropDown_Content">
											<a href="http://localhost:8080/alabama_Recruitment_01">Recruitment</a>
											<a href="http://localhost:8080/alabama_CompensationandBenefits_01">Compensation and Benefits</a>
											<a href="http://localhost:8080/alabama_EmployeeRelations_01">Employee Relations</a>
											<a href="#">Training and Development</a>
											<a href="#">Workforce Saftey</a>											

										</div>
									
										<br>
									
									</div>									

								</div>
								
							</form>

						</div>

					</div>					
					
				</div>

			</div>			

		</div>

		<footer>
			<%- include('../common/footer') %>
		</footer>
		
	</body>
</html>