<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>iVoteBallot | Contact Us</title>

	<link rel="stylesheet" type="text/css" href="../styles/contactUs_01.css" />

</head>

<!--
    The Developer, Sarai Hannah Ajai had written her HTML and JavaScript coded language for 
    the contactUs_01.ejs file that includes a form for user to fill in and submit his/her contact
    us form to the iVoteBallot website. And, the contactUs_01.ejs file includes fields for
    the user's first name, middle name, last name, email address, confirmation of email address,    
    whether he/she have an iVoteBallot account, and his/her concern. The contactUs_01.ejs file
    also, includes a textarea for the user to write their message and press the submit button; 
    in order to submit his/her contact us form.    

    This script tag defines two functions: countCharacters and validateContactUsForm:

    The countCharacters function retrieves the length of the text entered into a 
    contact us form's textMessage element and updates the textareaRemainingCharacters
    element to display the remaining number of characters available for input or a message
    indicating that the maximum number of characters has been reached.

    The validateContactUsForm function retrieves the values entered into several
    contact us form elements than performs a series of validation checks on each value,
    and displays an error message, if a value is invalid. The function also sets the
    retrieved values in the browser's session storage.
-->

	<body>
		<header>
			<%- include('../common/header') %>
		</header>	

		<p id="contactUs_Title_01">
			Contact Us
		</p>
			
		<p id="contactUs_Title_02">
			
		</p>
	
		<hr id="hr_Blue_line_02">
		<br>
		
		<div id="flex_Container">
			<div id="flex_Container_Row">
				<div id="flex_Container_Column">
					<div id="first_Column">
					   
						<a href="http://localhost:8080/iVoteBallot">iVoteBallot</a>

					</div>
				</div> 
               
				<div id="flex_Container_Column">
					<div id="second_Column">

						<form id="contactUs_Form" name="contactUsForm" onsubmit="return validateContactUsForm()" action="/contactUs_01" method="POST" >                       
                            <label>First Name |</label>                                           
                            <input id="firstName" type="text" name="userFirstName" maxlength="75">                            
                            <span id = "userFirstNameErrorMessage"></span>
                            <br>
                            <label>Middle Name |</label>                            
                            <input id="middleName" type="text" name="userMiddleName" maxlength="75">                            
                            <span id = "userMiddleNameErrorMessage"></span>
                            <br>
                            <label>Last Name |</label>                            
                            <input id="lastName" type="text" name="userLastName" maxlength="75">                           
                            <span id = "userLastNameErrorMessage"></span>
                            <br>
                            <label>Email Address |</label>                             
                            <input id="email" type="text" name="userEmail" maxlength="250">                           
                            <span id = "userEmailErrorMessage"></span>
                            <br>
                            <label>Confirm Email Address |</label>                            
                            <input id="confirmEmail" type="text" name="userConfirmEmail" maxlength="250">                           
                            <span id = "userConfirmEmailErrorMessage"></span>
                            <br>
                            <label>Do You Have An iVoteBallot Account with Us? |</label>
                            <input id="question" type="text" name="userQuestion" list="userQuestionList" size="64" >
                            <datalist id="userQuestionList">
                                <option value=""disable selected hidden></option>
                                    <option>Yes</option>
                                    <option>No</option>                                    
                            </datalist>                       
                            <span id = "userQuestionErrorMessage"></span>
                            <br>
                            <label>Choose Your Concern |</label>
                            <input id="concern" type="text" name="userConcern" list="userConcernList" size="64" >                                
                                <datalist id="userConcernList">
                                    <option id="userSelection" value=""disable selected hidden></option>
                                    <option>Account Login</option>
                                    <option>Account Sign Up</option>
                                    <option>Products and Services</option>
                                    <option>401 Error</option>
                                    <option>404 Error</option>
                                    <option>500 Error</option>
                                    <option>535 Error</option>
                                    <option>Additional Material about iVoteBallot</option>
                                    <option>Other Concern</option>                                    
                                </datalist> 
                              
                            <span id = "userConcernErrorMessage"></span>
                            <br>
                            <textarea id="textMessage" type="text" name="userTextMessage" rows="4" cols="56" spellcheck="true" minlength="25" maxlength="4000" onkeyup="countCharacters(this.id)" placeholder="Write Your Test Message Here..."></textarea>
                            
                            <span id="textareaRemainingCharacters"></span>                       
                           
                            <span id="userTextErrorMessage"></span>  
                                                    
                            <input id = "randomAlphaNumeric" type="hidden" name="userRandomAlphaNumeric" value="" ></input>
                            <br>
                            <br>
                            <input id="submitButton" type="submit" name="submit_Button"  value="SUBMIT"></button>
                            <br> 
                            
                        </form>
					</div>
				</div>	
			</div>
		</div>
		<br>

        <script></script>
        <script defer src="../scripts_Files/contactUs_01.js"></script>	

		<footer>
			<%- include('../common/footer') %>
		</footer>
		
	</body>
</html>