<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>iVoteBallot | HRM Employee Email Verification</title>

	<link rel="stylesheet" type="text/css" href="../styles/hrm_Employees_EmailVerification_01.css" />

	<script defer src="../scripts_Files/hrm_Employees_EmailVerification_01_Script.js"></script>

</head>
	<body>

		<div id="flex_Container">
			<div id="flex_Container_Row">
				<div id="flex_Container_Column">
					<div id="first_Column">
						
						<form 
							class="form_EmailVerification animate" 
							name="emailVerificationForm" onsubmit="return validateHRMEmailVerificationForm()" 
							action="/hrm_Employees_EmailVerification_01" 
							method="POST"
						>
								
							<div class="imageContainer">
								<a href="http://localhost:8080/iVoteBallot"><img class="header_Image_01" src="../images/free_Canva_Created_Images/iVoteBallot Canva - Logo Dated 05-05-23 copy.png" /></a>
								<p id="titleEmailVerification_01"> Employee Email Verification | iVoteBallot</p>
								<!--<span class="close" onclick="document.getElementById('popUpSignUpMenu').style.display='none'" title="Close Sign Up Form">&times;</span>-->
							
								<div class="flash_Message_01">	
										
									<% if (messages.error) { %>
										<%= messages.error %>
						
									<% } %>
						
								</div>
						
								<div class="flash_Message_02">	
						
									<% if (messages.success) { %>
										<%= messages.success %>
						
									<% } %>
						
								</div>			
								
							</div>
	
							<div class="emailVerification_Container_01">  	
								
								<div class="emailVerification_Container">
									<label>Email Address | </label> 
									<input id="email" type="text" name="EmployeeEmail" maxlength="75">
								</div>										
								<span id="userEmployeeEmailErrorMessage"></span>																									
								<br>															
													
								<p id="emailVerificationRequiredNote">
									To ensure your iVoteBallot's employemment identification security, please enter your email 
									address for your two steps verification process.
								</p>
							
								<hr class="hr_Red_line_01">
								<hr class="hr_Grey_line_01">									
								<hr class="hr_Blue_line_01">
								
								<br>									
							
								<button id="emailVerificationSubmitButton" type="submit">CONTINUE</button>
								
							</div>						
	
						</form>
	
					</div>			
				</div>
			</div>
		</div>
		
	</body>
</html>