<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>iVoteBallot | Human Resources Employee Sign Up</title>

	<link rel="stylesheet" type="text/css" href="../styles/hrm_SignUp_01.css" />

	<script defer src="../scripts_Files/hrm_SignUp_01_Script.js"></script>	


</head>
	<body>

			
	<div id="flex_Container">
		<div id="flex_Container_Row">
			<div id="flex_Container_Column">
				<div id="first_Column">
					<br>

					<form 
						class="form_SignUp_01 animate" 
						name="signUpForm" 
						onsubmit="return validateHRMSignUpForm()" 
						action="/hrm_SignUp_01" 
						method="POST"
					>
						<div class="imageContainer">
							<a href="http://localhost:8080/iVoteBallot"><img class="header_Image_01" src="../images/free_Canva_Created_Images/iVoteBallot Canva - Logo Dated 05-05-23 copy.png" /></a>
							<p id="titleSignUp_01"> Employee Sign Up | iVoteBallot</p>
							<!--<span class="close" onclick="document.getElementById('popUpSignUpMenu').style.display='none'" title="Close Sign Up Form">&times;</span>-->
						
						</div>

						<div class="flash_Message_01">	
										
							<% if (messages.error) { %>
								<%= messages.error %>

							<% } %>

						</div>

						<div class="flash_Message_02">	

							<% if (messages.success) { %>
								<%= messages.success %>

							<% } %>

						</div>						

						<div class="signUp_Container_01">  									   
							<label>Email Address | What is Your iVoteBallot's Employment Email Address?</label> 									
							<input id="email" type="text" name="EmployeeEmail" maxlength="75">									
							<span id="userEmployeeEmailErrorMessage"></span>
							<br>	
							
							<div class="password_Container">
								<label>What is your iVoteBallot's Employment Id Code? |</label>									
								<input id="id" type="text" name="EmployeeId" maxlength="75" />
								<a href="#" id="showHide_01" onclick="toggle_InputPasswordCheckBox()">Show</a>	
							</div>                              
							<span id="userEmployeeIdErrorMessage"></span>
							
						
							<br>									
						
							<hr id="hr_Red_line_02">

							<a class="forgotPassword_SignUp_01" href="http://localhost:8080/alabamaVoters_ForgotPasswordSignUp_01">Forgot Password?</a>

							<hr id="hr_Blue_line_02">
							<p id="memberQuestion_01">
								Are you already an iVoteBallot's member?
								<a class="signUp_LogIn_01" href="http://localhost:8080/alabamaVoters_LogIn_01">Access your account.</a>
							</p>		
							
							<br>									
						
							<button id="signUpSubmitButton" type="submit">SIGN UP</button>
							
						</div>						

					</form>

				</div>			
			</div>
		</div>
	</div>
		
	</body>
</html>