<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>iVoteBallot | New Employees_Registration</title>

	<link rel="stylesheet" type="text/css" href="../styles/iVoteBallot_HRMEmployees_Registration_01.css" />

	<script defer src="../scripts_Files/iVoteBallot_HRMEmployees_Registration_01_Script.js"></script>	

</head>

	<body>
		<hr class="hr_Grey_line_02">
		
		<div id="flex_Container">

			<div id="flex_Container_Row">				

				<div class="flex_Container_Column">

					<hr class="hr_Grey_line_02">
					<br>

					<div class="imageContainer">
						<a href="http://localhost:8080/iVoteBallot"><img class="header_Image_01" src="../images/free_Canva_Created_Images/iVoteBallot Canva - Logo Dated 05-05-23 copy.png" /></a>
						
					</div>

					<hr class="hr_Grey_line_02">
				</div>
			
			</div>

		</div>

		<hr class="hr_Grey_line_02">

		<p id="titleEmployees_01"> iVoteBallot | New Employee Registration</p>


		<hr class="hr_Blue_line_02">

		<div id="first_Column">

			<button class="hrm_RegistrationButton_01" onclick="document.getElementById('popUpHRM_EmployeesRegistrationMenu').style.display='block'" style="width:auto;">New Employee Registration</button>

			<div id="popUpHRM_EmployeesRegistrationMenu" class="hrmEmployeesRegistration_Form_01">

				<form 

					class="form_HRMEmployees_Registration animate"
					name="hrmEmployees_RegistrationForm" 
					onsubmit="return validateHRMEmployees_RegistrationForm()" 	
					action="/hrmEmployees_Registration_01" 	
					method="POST">	

					<div class="imageContainer">
									
						<a href="http://localhost:8080/iVoteBallot"><img class="header_Image_01" src="../images/free_Canva_Created_Images/iVoteBallot Canva - Logo Dated 05-05-23 copy.png" /></a>

						<hr class="hr_Grey_line_02">
						<hr class="hr_Red_line_02">
						<p id="titleHRMEmployees_01">HR Manager | Work Order Assignment</p>
						<hr class="hr_Red_line_01">
						<hr class="hr_Grey_line_01">

						<p id="titleHRMEmployees_02"> Add iVoteBallot's New Employee Data Information | HRM</p>
						<span class="close" onclick="document.getElementById('popUpHRM_EmployeesRegistrationMenu').style.display='none'" title="Close Sign Up Form">&times;</span>
					</div>

					<div class="hrmEmployeesRegistration_Container_01"> 
						
						<!--

							Sarai Hannah Ajai successfully customized the new employee IDs within the 'iVoteBallot_HRMEmployees_Registration_01' EJS
							template. This involved incorporating country, division (regional location), and department information using a UUID library
							algorithm. Additionally, I had implemented a JavaScript-based cascade dropdown with custom option tag values. Upon submission
							of the form by HR employees, the database is automatically updated with the abbreviated JavaScript options values into SQLite3
							database file.

						-->

						<label for="Country">Country |</label>
						<select id="country" name="EmployeeCountry" maxlength="75">
							<option id="selectBackground" value="" disabled selected hidden>Country Location</option>
							<option value="CAN">Canada</option>
							<option value="DEU">Germany</option>
							<option value="IRL">Ireland</option>
							<option value="ISR">Israel</option>
							<option value="ITA">Italy</option>
							<option value="JPN">Japan</option>
							<option value="MEX">Mexico</option>
							<option value="QAT">Qatar</option>
							<option value="SWE">Sweden</option>
							<option value="SWZ">Switzerland</option>
							<option value="THA">Thailand</option>
							<option value="GBR">United Kingdom of Great Britain and Northern Ireland</option>
							<option value="USA">United States of America</option>

						</select>
						<span id="userEmployeeCountryErrorMessage"></span>
						<br>
						
						<label>Regional Location |</label>
						<select id="division" name="EmployeeId_Encrytion" disabled>
							<option id="selectBackground" value="" disabled selected hidden>Regional Location</option>
						</select>
						<span id="userEmployeeDivisionErrorMessage"></span>
						<br>
						
						<label>Divisional Department |</label>
						<select id="department" name="EmployeeDepartment" disabled>
							<option id="selectBackground" value="" disabled selected hidden>Divisional Department</option>
						</select>
						<span id="userEmployeeDepartmentErrorMessage"></span>
						<br>

						<label>Upload New Employee PDF File |</label>
						<br>
						<input id="pdf" type="file"  name="EmployeePDF" accept=".pdf" multiple >
						<span id="userEmployeePDFErrorMessage"></span>
						<br>
													
						<label>Upload New Employee Photograph |</label>
						<br>
						<input id="photo" type="file"  name="EmployeePhoto" accept="image/*" capture="camera" >
						<span id="userEmployeePhotoErrorMessage"></span>
						<br>

						<label>Job Title |</label>                                           
						<select id="jobTitle" name="EmployeeJobTitle" maxlength="75">

							<option id="selectBackground" value="" disabled selected hidden>Job Title</option>

							<optgroup id="optGroupStyle_01" label="Executive Officers' Job Titles">
								<option value="Chief Executive Officer">Chief Executive Officer</option>
								<option value="Chief Financial Officer">Chief Financial Officer</option>
								<option value="Chief Information Technology Officer">Chief Information Technology Officer</option>
								<option value="Chief Marketing Officer">Chief Marketing Officer</option>
								<option value="Chief Operations Officer">Chief Operations Officer</option>
							</optgroup>

							<optgroup id="optGroupStyle_01" label="Election Assures' Job Titles">
								<option value="Election Assure Agent">Election Assure Agent</option>
								<option value="Election Assure Director">Election Assure Director</option>
								<option value="Election Assure Manager">Election Assure Manager</option>								
							</optgroup>

							<optgroup id="optGroupStyle_01" label="Financial's Job Titles">
								<option value="Accountant">Accountant</option>
								<option value="Accounting Director">Accounting Director</option>
								<option value="Accounts Payable Clerk">Accounts Payable Clerk</option>
								<option value="Accounts Receivable Clerk">Accounts Receivable Clerk</option>
								<option value="Auditor">Auditor</option>
								<option value="Controllor">Controllor</option>
								<option value="Financial Analyst">Financial Analyst</option>
							</optgroup>

							<optgroup id="optGroupStyle_01" label="Information Technology's Job Titles">
								<option value="Business Intelligence Developer">Business Intelligence Developer</option>
								<option value="Computer Programmer">Computer Programmer</option>
								<option value="Data Architect Analytic">Data Architect Analytic</option>
								<option value="Database Manager">Database Manager</option>
								<option value="Information Cyber Security Analyst">Information Cyber Security Analyst</option>
								<option value="IT Compliance Auditor">IT Compliance Auditor</option>
								<option value="IT Director">IT Director</option>
								<option value="IT Manager">IT Manager</option>
								<option value="IT Manager">IT Manager</option>
								<option value="Software Developer">Software Developer</option>
								<option value="Software Engineer">Software Engineer</option>
								<option value="SQLite3 Developer">SQLite3 Developer</option>
								<option value="UI Developer">UI Developer</option>
								<option value="UX Designer">UX Designer</option>								
							</optgroup>		
							
							<optgroup id="optGroupStyle_01" label="Human Resources' Job Titles">
								<option value="Administration Assistant">Administration Assistant</option>
								<option value="Compensations and Benefits Manager">Compensations and Benefits Manager</option>
								<option value="Human Resoruces Director">Human Resoruces Director</option>
								<option value="Human Resources Manager">Human Resources Manager</option>
								<option value="Human Resources System Administrator">Human Resources System Administrator</option>
								<option value="National Security Administrator">National Security Administrator</option>
								<option value="Talent Acquisition Coordinator">Talent Acquisition Coordinator</option>														
							</optgroup>		

							<optgroup id="optGroupStyle_01" label="Operations' Job Titles">
								<option value="Level 1 Operations Analyst">Level 1 Operations Analyst</option>								
								<option value="Operations Analyst">Operations Analyst</option>
								<option value="Operations Coordinator">Operations Coordinator</option>
								<option value="Operations Director">Operations Director</option>
								<option value="Operations Engineer">Operations Engineer</option>
								<option value="Operations Management">Operations Management</option>																			
							</optgroup>									
							
						</select>
						<span id="userEmployeeJobTitleErrorMessage"></span>
						<br>

						<label>First Name |</label>                                           
						<input id="firstName" type="text" name="EmployeeFirstName" maxlength="75"> 								                          
						<span id="userEmployeeFirstNameErrorMessage"></span>
						<br>

						<label>Middle Name |</label>                            
						<input id="middleName" type="text" name="EmployeeMiddleName" maxlength="75">                            
						<span id="userEmployeeMiddleNameErrorMessage"></span>
						<br>
					
						<label>Last Name |</label>                            
						<input id="lastName" type="text" name="EmployeeLastName" maxlength="75">                           
						<span id="userEmployeeLastNameErrorMessage"></span>
						<br>

						<label>Email Address |</label> 									
						<input id="email" type="text" name="EmployeeEmail" maxlength="75">									
						<span id="userEmployeeEmailErrorMessage"></span>
						<br>

						<label>Confirm Email Address |</label>									
						<input id="confirmEmail" type="text" name="EmployeeConfirmEmail" maxlength="75">									
						<span id="userEmployeeConfirmEmailErrorMessage"></span>
						<br>

						<label>Talent Acquisition Coordinator Name |</label>									
						<input id="hiredPerson" type="text" name="EmployeeHiredPerson" maxlength="75">									
						<span id="userEmployeeHiredPersonErrorMessage"></span>
						<br>

						<label>Talent Acquisition Coordinator Job Title |</label>
						<select id="hiredPersonTitle" name="EmployeeHiredPersonTitle">
							<option id="selectBackground" value="" disabled selected hidden>Job Title</option>
							<option value="Executive Officer">Executive Officer</option>
							<option value="Finance Director">Finance Director</option>
							<option value="Finance Manager">Finance Manager</option>
							<option value="HR Director">HR Director</option>
							<option value="HR Manager">HR Manager</option>
							<option value="IT Director">IT Director</option>
							<option value="IT Manager">IT Manager</option>
							<option value="Marketing Director">Marketing Director</option>
							<option value="Marketing Manager">Marketing Manager</option>
							<option value="Operations Director">Operations Director</option>
							<option value="Operations Manager">Operations Manager</option>
							
						</select>
						<span id="userEmployeeHiredPersonTitleErrorMessage"></span>
						<br>

						<label>Hired Date |</label>
						<input id="hiredDate" type="date" name="EmployeeHiredDate" maxlength="75">
						<span id="userEmployeeHiredDateErrorMessage"></span>
						<br>




						<input id="password" type="hidden" name="EmployeePassword" value="<%= process.env.HRMPASSWORD %>" maxlength="75" />
						<span id="userEmployeePasswordErrorMessage"></span>

						<input id="confirmPassword" type="hidden" name="EmployeeConfirmPassword" value="<%= process.env.CONFIRMHRMPASSWORD %>" maxlength="75" />
						<span id="userEmployeeConfirmPasswordErrorMessage"></span>

						<input id="temporary_Password" type="hidden" name="EmployeeTemporary_Password" value="<%= process.env.TEMPORARYHRMPASSWORD %>" maxlength="75" />
						<span id="userEmployeeTemporary_PasswordErrorMessage"></span>



						<br>
						<br>
						<input id="hrm_EmployeesRegistrationButton" type="submit" value="ADD NEW EMPLOYEE INFORMATION"></button>
						<br> 

					</div>

				</form>

			</div>	

		</div>
		
	</body>

</html>