<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>iVoteBallot | New Employees_Registration</title>

	<link rel="stylesheet" type="text/css" href="../styles/iVoteBallot_HRMEmployees_Registration_01.css" />

	<script defer src="../scripts_Files/iVoteBallot_HRMEmployees_Registration_01_Script.js"></script>	

</head>

	<body>
		<hr class="hr_Grey_line_02">
		
		<div id="flex_Container">

			<div id="flex_Container_Row">				

				<div class="flex_Container_Column">

					<hr class="hr_Grey_line_02">
					<br>

					<div class="imageContainer">
						<a href="http://localhost:8080/iVoteBallot"><img class="header_Image_01" src="../images/free_Canva_Created_Images/iVoteBallot Canva - Logo Dated 05-05-23 copy.png" /></a>
						
					</div>

					<hr class="hr_Grey_line_02">
				</div>
			
			</div>

		</div>

		<hr class="hr_Grey_line_02">

		<p id="titleEmployees_01"> iVoteBallot | New Employee Registration</p>


		<hr class="hr_Blue_line_02">

		<div id="first_Column">

			<button class="hrm_RegistrationButton_01" onclick="document.getElementById('popUpHRM_EmployeesRegistrationMenu').style.display='block'" style="width:auto;">New Employee Registration | Alabama</button>

			<div id="popUpHRM_EmployeesRegistrationMenu" class="hrmEmployeesRegistration_Form_01">

				<form 

					class="form_HRMEmployees_Registration animate"
					name="hrmEmployees_RegistrationForm" 
					onsubmit="return validateHRMEmployees_RegistrationForm()" 	
					action="/hrmEmployees_Registration_01" 	
					method="POST">	

					<div class="imageContainer">
									
						<a href="http://localhost:8080/iVoteBallot"><img class="header_Image_01" src="../images/free_Canva_Created_Images/iVoteBallot Canva - Logo Dated 05-05-23 copy.png" /></a>

						<hr class="hr_Grey_line_02">
						<hr class="hr_Red_line_02">
						<p id="titleHRMEmployees_01">HR Manager | Work Order Assignment</p>
						<hr class="hr_Red_line_01">
						<hr class="hr_Grey_line_01">

						<p id="titleHRMEmployees_02"> Add iVoteBallot's New Employee Data Information | HRM</p>
						<span class="close" onclick="document.getElementById('popUpHRM_EmployeesRegistrationMenu').style.display='none'" title="Close Sign Up Form">&times;</span>
					</div>

					<div class="hrmEmployeesRegistration_Container_01">  








					</div>

				</form>

			</div>
							

















		</div>












		
	</body>

</html>