<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>iVoteBallot | New Employees_Registration</title>

	<link rel="stylesheet" type="text/css" href="../styles/iVoteBallot_HRMEmployees_Registration_01.css" />

	<script defer src="../scripts_Files/iVoteBallot_HRMEmployees_Registration_01_Script.js"></script>	

</head>

	<body>
		<hr class="hr_Grey_line_02">
		
		<div id="flex_Container">

			<div id="flex_Container_Row">				

				<div class="flex_Container_Column">

					<hr class="hr_Grey_line_02">
					<br>

					<div class="imageContainer">
						<a href="http://localhost:8080/iVoteBallot"><img class="header_Image_01" src="../images/free_Canva_Created_Images/iVoteBallot Canva - Logo Dated 05-05-23 copy.png" /></a>
						
					</div>

					<hr class="hr_Grey_line_02">
				</div>
			
			</div>

		</div>

		<hr class="hr_Grey_line_02">

		<p id="titleEmployees_01"> iVoteBallot | New Employee Registration</p>


		<hr class="hr_Blue_line_02">

		<div id="first_Column">

			<button class="hrm_RegistrationButton_01" onclick="document.getElementById('popUpHRM_EmployeesRegistrationMenu').style.display='block'" style="width:auto;">New Employee Registration | Alabama</button>

			<div id="popUpHRM_EmployeesRegistrationMenu" class="hrmEmployeesRegistration_Form_01">

				<form 

					class="form_HRMEmployees_Registration animate"
					name="hrmEmployees_RegistrationForm" 
					onsubmit="return validateHRMEmployees_RegistrationForm()" 	
					action="/hrmEmployees_Registration_01" 	
					method="POST">	

					<div class="imageContainer">
									
						<a href="http://localhost:8080/iVoteBallot"><img class="header_Image_01" src="../images/free_Canva_Created_Images/iVoteBallot Canva - Logo Dated 05-05-23 copy.png" /></a>

						<hr class="hr_Grey_line_02">
						<hr class="hr_Red_line_02">
						<p id="titleHRMEmployees_01">HR Manager | Work Order Assignment</p>
						<hr class="hr_Red_line_01">
						<hr class="hr_Grey_line_01">

						<p id="titleHRMEmployees_02"> Add iVoteBallot's New Employee Data Information | HRM</p>
						<span class="close" onclick="document.getElementById('popUpHRM_EmployeesRegistrationMenu').style.display='none'" title="Close Sign Up Form">&times;</span>
					</div>

					<div class="hrmEmployeesRegistration_Container_01"> 

						<label>Regional Location |</label>
							<select id="division" name="EmployeeDivision">

								<option id="selectBackground" value="" disable selected hidden>Regional Location</option>
							
								<option value="AL">Alabama</option>
								<option value="CA">California</option>
								<option value="NY">New York</option>
								
							</select>
						<span id="userEmployeeDivisionErrorMessage"></span>
						<br>
						
						<label>Divisional Department |</label>
							<select id="department" name="EmployeeDepartment">

								<option id="selectBackground" value="" disable selected hidden>Divisional Department</option>
							
								<option value="El-Emp">Election Assures Expert</option>
								<option value="Ex-Emp">Executive Officer Administrator</option>
								<option value="Ex-Pre">Executive Officer</option>
								<option value="Fi-Dir">Finance Director</option>
								<option value="Fi-Emp">Finance Employee</option>
								<option value="Fi-Mgr">Finance Manager</option>
								<option value="HR-Dir">Human Resource Director</option>
								<option value="HR-Emp">Human Resource Employee</option>								
								<option value="HR-Mgr">Human Resource Manager</option>
								<option value="IT-Dir">Information Technology Director</option>
								<option value="IT-Emp">Information Technology Employee</option>								
								<option value="IT-Mgr">Information Technology Manager</option>
								<option value="Ma-Dir">Marketing Director</option>
								<option value="Ma-Emp">Marketing Employee</option>								
								<option value="Ma-Mgr">Marketing Manager</option>
								<option value="Op-Dir">Operation Director</option>
								<option value="Op-Emp">Operation Employee</option>								
								<option value="Op-Mgr">Operation Manager</option>
								<option value="Op-Sr">Operation Senior</option>
								
							</select>
						<span id="userEmployeeDepartmentErrorMessage"></span>
						<br>						

						<label>Country Location |</label>
							<select id="country" name="EmployeeCountry">

								<option id="selectBackground" value="" disable selected hidden>Country Location</option>
							
								<option value="IRL">Ireland</option>
								<option value="ISR">Israel</option>
								<option value="ITA">Italy</option>
								<option value="JPN">Japan</option>
								<option value="SWE">Sweden</option>
								<option value="CHE">Switzerland</option>
								<option value="GBR">United Kingdom of Great Britain and Northen Ireland</option>
								<option value="USA">United States of America</option>
								
							</select>
						<span id="userEmployeeCountryErrorMessage"></span>
						<br>

						<label>Upload New Employee PDF File |</label>
						<br>
						<input id="pdf" type="file"  name="EmployeePDF" accept=".pdf" multiple >
						<span id="userEmployeePDFErrorMessage"></span>
						<br>
													
						<label>Upload New Employee Photograph |</label>
						<br>
						<input id="photo" type="file"  name="EmployeePhoto" accept="image/*" capture="camera" >
						<span id="userEmployeePhotoErrorMessage"></span>
						<br>

						<label>First Name |</label>                                           
						<input id="firstName" type="text" name="EmployeeFirstName" maxlength="75"> 								                          
						<span id="userEmployeeFirstNameErrorMessage"></span>
						<br>

						<label>Middle Name |</label>                            
						<input id="middleName" type="text" name="EmployeeMiddleName" maxlength="75">                            
						<span id="userEmployeeMiddleNameErrorMessage"></span>
						<br>
					
						<label>Last Name |</label>                            
						<input id="lastName" type="text" name="EmployeeLastName" maxlength="75">                           
						<span id="userEmployeeLastNameErrorMessage"></span>
						<br>

						<label>Email Address |</label> 									
						<input id="email" type="text" name="EmployeeEmail" maxlength="75">									
						<span id="userEmployeeEmailErrorMessage"></span>
						<br>

						<label>Confirm Email Address |</label>									
						<input id="confirmEmail" type="text" name="EmployeeConfirmEmail" maxlength="75">									
						<span id="userEmployeeConfirmEmailErrorMessage"></span>
						<br>






						<br>
						<br>
						<input id="hrm_EmployeesRegistrationButton" type="submit" value="ADD NEW EMPLOYEE INFORMATION"></button>
						<br> 




					</div>

				</form>

			</div>	

		</div>
		
	</body>

</html>