<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Footer Section</title>

	<link rel="stylesheet" type="text/css" href="../styles/footer.css" />
</head>

<!--
	The Developer, Sarai Hannah Ajai have written her HTML codes for the "footer.ejs" file, and
	in these HTML codes are responsible for creating the footer section of the webpage. And, it
	contains three main elements: two horizontal lines with class names, "hr_Red_line" and
	"hr_Blue_line," a list of social media links with class name "socialMedias_01," and a small
	text block with the copyright information.

	The social media links are represented as a list of items with hyperlinks, and each item has	
	an image of the corresponding social media icon with class name "footer_Image_01." Also, the
	copyright information is contained in a separate list with an id name, "iVoteBallot_Footer_Insignia_01."

	Overall, Ms. Ajai have written her HTML codes language for the "footer.ejs" file which provides
	a visually appealing and functional footer section with easy access to social media links and
	important legal information for the iVoteBallot website.
-->

	<body>

		<hr class="hr_Red_line">
		<hr class="hr_Blue_line">

		<div class="footer_flex_container">        

			<ul class = "socialMedias_01">
				<li><a href="http://localhost:8080/about">About Us</a></li>
				<li><a href="http://localhost:8080/helpCenter">Help Center</a></li>
				<li><a href="#">Terms of Service</a></li>				
				<li><a href="#">Privacy Policy</a></li>
				<li><a href="#">Cookie Policy</a></li>
				<li><a href="#">Social Medias</a></li>  
				<li><a href="http://localhost:8080/alabamaDMV_Commission_01">Election Assure Experts</li>              
			</ul>			
			
			<hr class="hr_Blue_line">
			<hr class="hr_Red_line">	

			<ul class="socialMedias_01">
				<li><a href="http://www.twitter.com"><img class="footer_Image_01" src="../images/social_Media_Icons/6214703_bird_logo_twitter_icon.png" /></a></li>
				<li><a href="http://www.facebook.com"><img class="footer_Image_01" src="../images/social_Media_Icons/433084_facebook_media_social_network_icon.png" /></a></li>
				<li><a href="http://www.youtube.com"><img class="footer_Image_01" src="../images/social_Media_Icons/2138495_colored_high quality_media_social_social media_icon.png" /></a></li>
				<li><a href="http://www.whatsapp.com"><img class="footer_Image_01" src="../images/social_Media_Icons/4213464_app_chat_communication_message_messenger_icon.png" /></a></li>
				<li><a href="http://www.instagram.com"><img class="footer_Image_01" src="../images/social_Media_Icons/1217174_instagram_icon.png" /></a></li>
				<li><a href="http://www.slack.com"><img class="footer_Image_01" src="../images/social_Media_Icons/8198236_slack_social network_interaction_communication_social media_icon.png" /></a></li>
				<li><a href="http://www.google.com"><img class="footer_Image_01" src="../images/social_Media_Icons/9022495_google_logo_duotone_icon.png" /></a></li>
				<li><a href="http://www.tiktok.com"><img class="footer_Image_01" src="../images/social_Media_Icons/9027137_tiktok_logo_thin_icon.png" /></a></li>
				<li><a href="http://www.tumblr.com"><img class="footer_Image_01" src="../images/social_Media_Icons/433078_media_social_tumblr_network_icon.png" /></a></li>
				<li><a href="http://www.linkedIn.com"><img class="footer_Image_01" src="../images/social_Media_Icons/777926_linkedin_business_communication_connection_network_icon.png" /></a></li>    
				<li><a href="http://www.discord.com"><img class="footer_Image_01" src="../images/social_Media_Icons/5761437_discord_logo_icon-4.png" /></a></li> 
			</ul> 
			
			<div class="footer_flex_container">       
				<ul class="iVoteBallot_Footer_Insignia_01">
					<li><a class="footer_Image_01" href="#">© 2024 iVoteBallot</a></li>  					
				</ul>
			<div>	

		</div> 
		
	</body>
</html>